<!-- start custom comments snippet -->

{%- if site.comments.giscus.repo and
  site.comments.giscus.repo_id and
  site.comments.giscus.category and
  site.comments.giscus.category_id -%}

  <div class="giscus-wrapper"></div>
  <script src="https://giscus.app/client.js"
    data-repo="{{ site.comments.giscus.repo }}"
    data-repo-id="{{ site.comments.giscus.repo_id }}"
    data-category="{{ site.comments.giscus.category }}"
    data-category-id="{{ site.comments.giscus.category_id }}"
    data-mapping="specific"
    data-term="{{ page.translation_key | default: page.key | default: page.url }}"
    data-strict="{{ site.comments.giscus.strict | default: 0 }}"
    data-reactions-enabled="{{ site.comments.giscus.reactions_enabled | default: 1 }}"
    data-emit-metadata="{{ site.comments.giscus.emit_metadata | default: 0 }}"
    data-input-position="{{ site.comments.giscus.input_position | default: 'bottom' }}"
    data-theme="{{ site.comments.giscus.theme | default: 'preferred_color_scheme' }}"
    data-lang="{{ site.comments.giscus.lang | default: site.lang | default: 'en' }}"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>

{%- endif -%}

<!-- end custom comments snippet -->
